@import "tailwindcss";

@theme {
  --color-special: #AEDFF7;
  --color-white: #ffff;
  --color-text: #333333;
  --color-primary: #050505;
  --color-border: #333333;
  --playfair: 'Playfair Display', serif;
  --work_sans: 'Work Sans', sans-serif;
}

body {
  color: var(--color-primary);
  background-color: var(--color-white); /* dacă vrei */
}

.font-playfair {
  font-family: var(--playfair);
  color: var(--color-primary);
}
.font-worksans {
  font-family: var(--work_sans);
  color: var(--color-text);
  font-weight: 400;
}


.btn-primary {
  @apply bg-[var(--color-primary)] text-white rounded-lg px-4 py-2;
}
.btn-sec {
  @apply text-[var(--color-text)] border-[var(--color-border)] rounded-lg px-4 py-2;
}

.card {
  @apply border border-[var(--color-border)] p-4 rounded-xl;
}

html {
  scroll-behavior: smooth;
}
